.desc, .title{
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.desc{
    color: #444;
    -webkit-line-clamp: 4;
}
.title{
    -webkit-line-clamp: 1;
}